<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} / {{pageTitle}}</title>
  <link rel="stylesheet" href="/src/css/reset.css">
  <link rel="stylesheet" href="/src/css/styles.css">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:ital@0;1&family=Raleway:wght@300;700;800;900&family=Varta:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="home">
  <h1>Bright & Matt
    <span>Design and research</span>
  </h1>

  --

  {{ content | safe }}

  --

</body>
</html>
