<html lang="en">
<head>
  <title>{{title}} / {{pageTitle}}</title>
  <link rel="stylesheet" href="/src/css/reset.css">
  <link rel="stylesheet" href="/src/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed|Barlow+Semi+Condensed:400,400i,700&display=swap" rel="stylesheet">
</head>

<body id="home">
  <h1><a class="selected" href="/">Bright & Matt</a>
    <span><b>Design and research</b></span>
  </h1>

  {{ content | safe }}

  -- --

</body>
</html>
