html, .root {
  font-size: 45px;
  line-height: 67px;
}
body, .article {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  line-height: 1.48888889em;
  max-width: 70%;
  /* margin: 1.48888889em; */
  margin: 2em;
}
h1, .h1 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 700;
  font-size: 2.77777778em;
  line-height: 1.072em;
  margin-top: 1.072em;
  /* margin-bottom: 1.072em; */
}
span {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 0.36em;
	font-style: italic;
	line-height: 1.48888889em;
	/* margin-bottom: 1.48888889em; */
	/* margin-top: 1.48888889em; */
	color: #5C5757;
	display: block;
	}
  span b{
    color: black;
  }
h2, .h2 {
  font-size: 1.66666667em;
	font-weight: 600;
  line-height: 0.89333333em;
  margin-top: 1.78666666em;
  margin-bottom: 0.89333333em;
}
h3, .h3 {
  font-size: 1em;
	font-weight: 600;
  line-height: 1.48888889em;
  margin-top: 1.78666666em;
  margin-bottom: 0.89333333em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.48888889em;
  margin-top: 1.48888889em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.48888889em;
  margin-top: 1.48888889em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.48888889em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}
ul li {
  margin-left: 1em;
  list-style: disc;
}
nav ul li {
  margin-left: 0;
  list-style: none;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: 1.48888889em 0 1.48888889em 0;
	line-height: 1.48888889em;
	/* margin-top: 1.48888889em;
	margin-bottom: 1.48888889em; */
}
a, b, i, strong, em, small, code {
  /* line-height: 0; */
  /* didnt need this with 11ty */
}
i{
  font-style: italic;
}
b, strong{
  font-weight: bolder;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: black;
  text-decoration: none;
}
small {
  line-height: 1.48888889em;
}

a:hover {
  text-decoration: underline;
}

a:active, .selected {
  color: black;
}

a:visited {
  color: purple;
}

a:visited.selected {
  color: black;
}


footer a, small{
	font-size: 0.778em
}
.skip-link {
  font-size: 0.583em;
  line-height: 0;
  margin-top: -3em;
  float: left;
  clear: both;

}
footer hr{
	color: lightgrey;
	margin-bottom: 0;
}

p img {
  max-width: 100%;
  border: solid 1px black;
}
iframe {
width: 100%;
height: 100%;
text-align: left;
}
